<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node e MongoDB</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">Node Mongo<span>DB</span></h1>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/products">Produtos</a></li>
            <li><a href="/products/create">Cadastrar produto</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>