<h1>Home</h1>
<p class="home-p">Projeto de Node.js com MongoDB, veja a aba de produtos clicando aqui:</p>
<a href="/products" class="btn">Produtos</a>
<footer>
    <p>desenvolvido por <span>Eduardo Cordeiro</span></p>
</footer>